body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
    display: flex;
  }
  
  .left-container {
    width: 30%;
    padding: 30px;
    background-color: #122562;
  }
  
  header {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  
  img {
    border-radius: 50%;
    height: 500px;
    width: 400px;
    align-self: center;
  }
  .left-container h2 {
    padding-bottom: 20px;
    border-bottom: 2px solid white;
  }
  
  h3, #contactos,p,ol {
    text-align: left;
  }
  
  .left-container ul {
    padding: 0px;
    list-style: none;
  }
  
  ol {
    margin: 0px;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .right-container {
    width: 70%;
    padding: 30px;
    background-color: white;
    color: #122562;
  }
  
  h1 {
    margin-top: 20px;
  }
  .carrera {
    margin-bottom: 10%;
  }
  
  .right-container h2 {
    margin-top: 50px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
  }
  
  #education {
    list-style: none;
    padding-left: 10px;
  }
  
  .bullets {
    list-style: disc;
    padding-left: 25px;
  }
  
  .right-container p {
    padding-left: 20px;
  }